<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Laureano Ruiz Pérez">
    <meta name="author" content="">
    <title>RFID Pollinators</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Custom styles -->
    <link href="../static/custom.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <nav class="navbar navbar-light">
        <h3 class="text-muted">RFID Pollinators</h3>
    </nav>
    <hr class="mb-5"/>

    <div class="jumbotron">
        <h1>RFID Pollinators</h1>
        <p class="lead">This pipeline produces useful charts and statistics based on experiments using Biomark hardware
            and RFID antennas. Signal information is analyzed, processed and categorized based on the user's input
            parameters. Start by choosing one or more Excel files.</p>
        <form action="input-genotypes" method="post" enctype="multipart/form-data"
              class="needs-validation" novalidate>
            <div class="center has-validation">
                <input type="file" accept=".xlsx,.xls,.odf,.ods,.odt" class="form-control" name="excel_files" multiple required>
                <div class="invalid-feedback">
                    Please choose one or more .CSV files to upload
                </div>
                <input class="btn btn-lg btn-success m-3" type="submit" value="Upload">
            </div>
        </form>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Straightforward</h4>
            <p>Define the genotypes for each antenna, specify a few parameters and get the results in seconds.</p>
             <h4>Versatile</h4>
            <p>Accepts as many antennas on the experiment as necessary. Accepts rotations of the antennas when loading several experiments.</p>
        </div>

        <div class="col-lg-6">
            <h4>Fast</h4>
            <p>Based on Pandas and NumPy, two of the fastest and more efficient libraries for data analysis with Python.</p>
            <h4>Paper-ready results</h4>
            <p>Graphs are interactive and can be downloaded; and all processed data can be viewed and downloaded if necessary.</p>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2021 Laureano Ruiz · RFID Pollinators · Part of Name of the Project</p>
    </footer>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
</div> <!-- /container -->
</body>
</html>
