<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Laureano Ruiz Pérez">
    <meta name="author" content="">
    <title>Input Genotypes</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Custom styles -->
    <link href="../static/custom.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <nav class="navbar navbar-light">
        <h3 class="text-muted">RFID Pollinators</h3>
        <a class="inline btn btn-outline-secondary" href="/home" role="button">Home</a>
    </nav>
    <hr class="mb-5"/>

    <div class="jumbotron">
        <h1>Genotypes</h1>
        <p class="lead">Each antenna must have a genotype associated with it; and some antennas may have the same genotype. Use the original data from each experiment to fill up the form.</p>
    </div>

    <h5 class="text-center">{{ file_names|join(', ') }} successfully uploaded</h5>

    <form action="input-parameters" method="post" class="needs-validation" novalidate>
        {% for file_name in file_names %}
            <hr/>
            <label for="genotypes" class="form-label mb-3">File "{{ file_name }}" includes the experiment that started on {{ dates[file_name][0] }} and
                finished on {{ dates[file_name][1] }}. Please define the genotype of each antenna for this experiment.</label>
            <div class="row">
                {% for antenna in antennas_info[file_name] %}
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">Antenna {{ antenna }}</span>
                            <input type="text" class="form-control" id="genotypes" name="{{ file_name }} {{ antenna }}"
                                   placeholder="Genotype name" aria-describedby="basic-addon3" required>
                            <div class="invalid-feedback">
                                Please write a name for the genotype
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="d-grid gap-3 d-md-flex justify-content-md-end mb-4">
             <a class="btn btn-lg btn-outline-secondary" href="/home" role="button">Back</a>
            <input class="btn btn-lg btn-success" type="submit" value="Next"/>
        </div>
    </form>

    <footer class="footer">
        <p>&copy; 2021 Laureano Ruiz · RFID Pollinators · Part of Name of the Project</p>
    </footer>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
</div> <!-- /container -->
</body>
</html>